In [2]:
import pandas as pd
import requests
from requests.exceptions import HTTPError

In [3]:
key = '996b2af0b72c07a0264d19e7d07e2bd5'

In [4]:
url = 'https://firms.modaps.eosdis.nasa.gov/api/countries/?format=html'

# countries_df contains names and abbreviations for countries with available data
# note: might remove ID column
countries_df = pd.read_html(url)[0]
countries_df.head()

   ID Abbreviation   Country name
0   1          ABW          Aruba
1   2          AFG    Afghanistan
2   3          AGO         Angola
3   4          AIA       Anguilla
4   6          ALA  Aland Islands

In [5]:
all_countries_data = pd.DataFrame()

count = 0

for country in countries_df['Abbreviation']:
    for year in ['2014', '2018', '2022']:
        for month in ['03','06','09','12']:
            date = year + '-' + month + '-01'

            url = f'https://firms.modaps.eosdis.nasa.gov/api/country/csv/{key}/VIIRS_NOAA20_NRT/{country}/1/{date}'
            count += 1
            # try:
            #     country_data = pd.read_csv(url)
            #     if country_data.empty:
            #         continue
            #     all_countries_data = pd.concat([all_countries_data, country_data])

            # except:
            #     print(country)

In [6]:
# all_countries_data

In [7]:
import pandas as pd
import requests

key = '996b2af0b72c07a0264d19e7d07e2bd5'

# list of European countries to get available data
euro_c = ['AUT', 'BEL', 'BGR', 'CYP', 'CZE', 'DEU', 'DNK', 'ESP', 'EST', 'FIN', 'FRA',
 'GRC', 'HRV', 'HUN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA', 'MLT', 'NLD', 'POL',
 'PRT', 'ROU', 'SVK', 'SVN', 'SWE']

# initial df
euro_c_df = pd.DataFrame()

# loop through European countries
for country in euro_c:

    # loop through: 2014, 2018, 2022 for first of March, June, September, December
    for year in ['2014', '2018', '2022']:
        for month in ['03','06','09','12']:

            # format date and url
            date = year + '-' + month + '-01'
            url = f'https://firms.modaps.eosdis.nasa.gov/api/country/csv/{key}/VIIRS_NOAA20_NRT/{country}/1/{date}'

            # add to overall df if no error is produced and the sub df is not empty
            try:
                country_data = pd.read_csv(url)
                if country_data.empty:
                    continue
                euro_c_df = pd.concat([euro_c_df, country_data], ignore_index=True)

            except:
                # print any countries with errors
                print(country)

,country_id,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,AUT,48.26915,14.32676,302.95,0.41,0.37,2022-03-01,117,N20,VIIRS,n,2.0NRT,268.16,1.65,N
1,AUT,48.27348,14.32272,324.90,0.41,0.37,2022-03-01,117,N20,VIIRS,n,2.0NRT,270.04,1.65,N
2,AUT,48.27380,14.34038,327.60,0.41,0.37,2022-03-01,117,N20,VIIRS,n,2.0NRT,274.02,9.37,N
3,AUT,48.27480,14.33495,324.30,0.41,0.37,2022-03-01,117,N20,VIIRS,n,2.0NRT,272.48,9.37,N
4,AUT,48.27581,14.32952,298.33,0.41,0.37,2022-03-01,117,N20,VIIRS,n,2.0NRT,273.33,0.89,N

In [8]:
# length of df is 1200
print(len(euro_c_df))

# list of countries, only 12
print(euro_c_df['country_id'].unique())

# end of df
euro_c_df.tail()

# specific country's data, each has a different length due to size
euro_c_df.loc[euro_c_df['country_id'] == 'SWE']

1200
['AUT' 'BEL' 'BGR' 'CYP' 'CZE' 'DEU' 'DNK' 'ESP' 'FIN' 'FRA' 'GRC' 'HRV'
 'HUN' 'IRL' 'ITA' 'LTU' 'LUX' 'NLD' 'POL' 'PRT' 'ROU' 'SVK' 'SVN' 'SWE']

,country_id,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_ti5,frp,daynight
0,SWE,58.36114,12.37835,307.22,0.42,0.38,2022-03-01,115,N20,VIIRS,n,2.0NRT,264.00,0.58,N
1,SWE,58.67936,17.12269,316.39,0.38,0.36,2022-03-01,115,N20,VIIRS,n,2.0NRT,270.39,1.45,N
2,SWE,58.68470,17.13293,326.54,0.38,0.36,2022-03-01,115,N20,VIIRS,n,2.0NRT,271.61,3.36,N
3,SWE,64.66119,21.27164,298.35,0.68,0.74,2022-03-01,2313,N20,VIIRS,n,2.0NRT,268.60,1.26,N
4,SWE,64.66762,21.27894,329.31,0.68,0.74,2022-03-01,2313,N20,VIIRS,n,2.0NRT,270.21,4.19,N
0,SWE,57.70871,18.80541,313.56,0.41,0.37,2022-06-01,52,N20,VIIRS,n,2.0NRT,281.11,2.02,N
1,SWE,58.68228,17.13040,336.36,0.54,0.42,2022-06-01,1043,N20,VIIRS,n,2.0NRT,296.64,15.77,D
0,SWE,65.55627,22.25474,322.00,0.40,0.44,2022-09-01,24,N20,VIIRS,n,2.0NRT,277.45,1.20,N
1,SWE,65.56287,22.22191,320.14,0.40,0.44,2022-09-01,24,N20,VIIRS,n,2.0NRT,279.99,3.93,N
2,SWE,65.56350,22.21333,341.18,0.40,0.44,2022-09-01,24,N20,VIIRS,n,2.0NRT,281.02,6.05,N
3,SWE,57.71000,18.80335,307.64,0.41,0.45,2022-09-01,26,N20,VIIRS,n,2.0NRT,283.00,1.21,N
4,SWE,57.71199,18.80125,311.18,0.41,0.45,2022-09-01,26,N20,VIIRS,n,2.0NRT,282.30,1.97,N
5,SWE,58.34543,11.41998,301.97,0.38,0.59,2022-09-01,26,N20,VIIRS,n,2.0NRT,284.78,1.26,N
6,SWE,58.36106,12.37821,319.54,0.35,0.57,2022-09-01,26,N20,VIIRS,n,2.0NRT,282.20,1.61,N
7,SWE,58.36224,12.37728,311.49,0.35,0.57,2022-09-01,26,N20,VIIRS,n,2.0NRT,281.75,1.71,N
8,SWE,58.68174,17.13441,296.56,0.48,0.48,2022-09-01,26,N20,VIIRS,n,2.0NRT,284.32,0.98,N
9,SWE,58.68379,17.12915,299.24,0.48,0.48,2022-09-01,26,N20,VIIRS,n,2.0NRT,280.81,1.02,N
10,SWE,58.68617,17.13547,306.28,0.48,0.48,2022-09-01,26,N20,VIIRS,n,2.0NRT,280.11,0.98,N
11,SWE,58.68770,17.13848,302.08,0.48,0.48,2022-09-01,26,N20,VIIRS,n,2.0NRT,280.08,1.40,N
12,SWE,65.56364,22.22472,300.35,0.56,0.43,2022-09-01,204,N20,VIIRS,n,2.0NRT,272.49,1.35,N
13,SWE,65.56434,22.21929,317.33,0.56,0.43,2022-09-01,204,N20,VIIRS,n,2.0NRT,274.12,2.63,N
14,SWE,65.56641,22.21432,315.64,0.56,0.43,2022-09-01,204,N20,VIIRS,n,2.0NRT,273.38,1.77,N
15,SWE,58.34693,11.42657,304.60,0.50,0.41,2022-09-01,206,N20,VIIRS,n,2.0NRT,285.45,1.11,N
16,SWE,58.35924,12.38133,319.60,0.53,0.42,2022-09-01,206,N20,VIIRS,n,2.0NRT,282.55,2.49,N
17,SWE,58.68283,17.12900,295.36,0.48,0.48,2022-09-01,206,N20,VIIRS,n,2.0NRT,280.27,1.06,N
18,SWE,58.35765,12.38209,329.25,0.44,0.38,2022-09-01,1157,N20,VIIRS,n,2.0NRT,295.88,4.09,D
0,SWE,65.56503,22.21830,309.67,0.56,0.69,2022-12-01,336,N20,VIIRS,n,2.0NRT,268.38,2.51,N

In [9]:
# check for empty values
print(euro_c_df.isnull().values.any())

# drop columns that contain the same data for all rows (satellite, instrument, confidence, version)
euro_c_df_cleaned = euro_c_df[
    ['country_id', 'latitude','longitude','bright_ti4','bright_ti5','scan','track','acq_date','acq_time','frp','daynight']]
euro_c_df_cleaned

False

,country_id,latitude,longitude,bright_ti4,bright_ti5,scan,track,acq_date,acq_time,frp,daynight
0,AUT,48.26915,14.32676,302.95,268.16,0.41,0.37,2022-03-01,117,1.65,N
1,AUT,48.27348,14.32272,324.90,270.04,0.41,0.37,2022-03-01,117,1.65,N
2,AUT,48.27380,14.34038,327.60,274.02,0.41,0.37,2022-03-01,117,9.37,N
3,AUT,48.27480,14.33495,324.30,272.48,0.41,0.37,2022-03-01,117,9.37,N
4,AUT,48.27581,14.32952,298.33,273.33,0.41,0.37,2022-03-01,117,0.89,N
...,...,...,...,...,...,...,...,...,...,...,...
15,SWE,58.34693,11.42657,304.60,285.45,0.50,0.41,2022-09-01,206,1.11,N
16,SWE,58.35924,12.38133,319.60,282.55,0.53,0.42,2022-09-01,206,2.49,N
17,SWE,58.68283,17.12900,295.36,280.27,0.48,0.48,2022-09-01,206,1.06,N
18,SWE,58.35765,12.38209,329.25,295.88,0.44,0.38,2022-09-01,1157,4.09,D
0,SWE,65.56503,22.21830,309.67,268.38,0.56,0.69,2022-12-01,336,2.51,N